profiles{
        slurm{
                process.executor = 'slurm'
                process.memory = '20 GB'
                process.cpus = 20
        }
}

tower {
        enabled = true
        accessToken = 'eyJ0aWQiOiA5NzEzfS45NGMxZmViMmE4NjZhYjU2ODE2NmIwMThiYzVlYWMyYzY4NWY4Mjg3'
        workspaceId = '92851700850296'
}
  
singularity {
        enabled = true
        cacheDir = '/prism_data5/share/Singularity_cache/'
        autoMounts = true
}

plugins {
        id 'nf-schema@2.1.1'
}
